
@font-face {
    font-family: "propagandaregular";
    src: url("/css/fonts/propaganda-webfont.woff2") format('woff2'),
         url("/css/fonts/propaganda-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'propagandaregular', Arial, sans-serif;
}