@font-face {
    font-family: "propagandaregular";
    src: url("/css/fonts/propaganda-webfont.woff2") format('woff2'),
         url("/css/fonts/propaganda-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    align-content: center;
}

.gridA {
    display: grid;
    height: 400px;
    width: 750px;
    margin: auto;
    margin-top: 20px;
    grid-template-columns:  15% 35% 35% 15%;
    grid-template-rows: 15% 65% 20%;
}

.roomDivA {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 2/4;
}

.sidebar1Div {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 15% 85%;
}

.sidebar2Div {
    grid-row: 2/3;
    grid-column: 4/5;
    display: grid;
    grid-template-rows: 20% 30% 50%;
}

.team1Div {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 20% 80%;
}

.teamName1Div, .teamName2Div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamName{
    font-weight: bolder;
}

.team2Div {
    grid-row: 2/3;
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 20% 80%;
}

.members1Div, .members2Div{
    display: grid;
    grid-template-rows: 33% 33% 34%;
}


.playerBoxDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 90%;
    border-radius: 10px;
    background-color: lightgray;
}

.playerBox p{
    font-family: 'propagandaregular', Arial, sans-serif;
}

.startButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3/4;
    grid-column: 2/4;
}
.shuffleButtonDiv {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shuffleButton{
    height: 60%;
    width: 90%;
}

.startButton{
    height: 70%;
    width: 100px;
}
.roomA{
    font-family: 'propagandaregular', Arial, sans-serif;
    font-size: larger;
}





/* GRID B CSS: */

.gridB{
    display: grid;
    height: 400px;
    width: 750px;
    margin: auto;
    margin-top: 20px;
    grid-template-columns:  33% 34% 33%;
    grid-template-rows: 45% 10% 30% 15%;
}

.hostAndTableDiv{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    grid-template-rows: 20% 80%;
}

.roomAndScoreDiv{
    display: grid;
    grid-row: 1/2;
    grid-column: 2/3;
    grid-template-rows: 25% 75%;
    grid-template-columns: 50% 50%;
}

.spectatorsAndLogDiv{
    display: grid;
    grid-row: 1/2;
    grid-column: 3/4;
    grid-template-rows: 20% 80%;
}

.turnDiv{
    grid-row: 2/3;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3/4;
    grid-column: 1/4;
}

.declareDivDiv{
    grid-row: 4/5;
    grid-column: 1/4;
}

.roomDivB {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/3;
}
.roomB{
    font-family: 'propagandaregular', Arial, sans-serif;
    font-size: larger;
}

.card{
    margin: 5px;
}

.card:hover{
    margin: 3px;
    border: 2px solid #ffbbbb;
    border-radius: 6px;
}

.declareDiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moveDiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.declareDropdown{
    height: 70%;
    width: 13%;
    margin: 3px;
}

.cardDeclareDropdown, .possCardsDropdown, .possPeopleDropdown{
    height: 70%;
    width: 15%;
    margin: 3px;
}

.hostDiv{
    display: flex;
    align-items: center;
}

.declareButton, .makeMoveButton{
    height: 70%;
    margin: 7px;
}

.tableDiv{
    display: grid;
    grid-template-rows: 20% 30% 30% 20%;
    grid-template-columns: 30% 40% 30%;
}

.name3{
    font-size: smaller;
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name2{
    font-size: smaller;
    margin-bottom: 10%;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.name4{
    font-size: smaller;
    margin-bottom: 10%;
    grid-row: 2/3;
    grid-column: 3/4;
    display: flex;
    align-items: center;
}

.table{
    font-size: smaller;
    grid-row: 2/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name1{
    font-size: smaller;
    margin-top: 10%;
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.name5{
    font-size: smaller;
    margin-top: 10%;
    grid-row: 3/4;
    grid-column: 3/4;
    display: flex;
    align-items: center;
}

.name0{
    font-size: smaller;
    grid-row: 4/5;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team1scoreDiv, .team2scoreDiv{
    display: grid;
    grid-template-rows: 20% 80%; 
}

.team1scoreDiv p, .team2scoreDiv p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}
.team1scoreDiv h5, .team2scoreDiv h5{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logDiv p, .logDiv h4{
    margin-left: 10px;
}

.logDiv p{
    font-size: smaller;
}
